* {
    margin: 0;
    padding: 0;
}

#whiteboard {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.item {
    position: absolute;
    display: inline-table;
    top: 0px;
    left: 0px;
    cursor: grab;
    font-family: 'Ubuntu Mono', monospace;
    color: #121212;
    font-size: 14px;
    min-width: 150px;
    max-width: 360px;
    overflow-wrap: break-word;
}

.item:hover {
    z-index: 500;
}

.item:hover > .item-heading {
    color: #0e92a2;
}

.ui-draggable-dragging {
    cursor: grabbing;
}

.item-heading {
    font-weight: bold;
    font-size: 1.2em;
}

.item-description {
    font-family: 'Average Sans', sans-serif;
    line-height: 1.1;
    margin-top: 10px;
}

.code {
    margin: 15px 0;
    padding-left: 15px;
    font-size: 0.9em;
    border-left: 5px solid #0e92a2;
    max-width: 360px;
}

.hidden {
    display: none;
}

.big-font {
    font-size: 1.2em;
}

.add-new-wrap {
    z-index: 1000;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#show-add-form {
    padding: 12px;
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    color: #0e92a2;
    cursor: pointer;
}

#show-add-form:hover {
    background-color: #0e92a2;
    color: #ffffff;
}

#show-add-form::-moz-focus-inner {
    border: none;
}

#show-add-form.active {
    background-color: #0e92a2;
    color: #ffffff;
}

#show-add-form i {
    font-size: 25px;
}

#add-noodle-form {
    min-width: 350px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #0e92a2;
    overflow: hidden;
    border-radius: 5px;
    /*-webkit-box-shadow: 0px 0px 0px 3px #0e92a2;
    -moz-box-shadow: 0px 0px 0px 3px #0e92a2;
    box-shadow: 0px 0px 0px 3px #0e92a2;*/
}

#add-noodle-form input {
    font-size: 17px;
    font-family: 'Average Sans', monospace;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 0px 5px;
    box-sizing: border-box;
    border: none;
    /*border: 2px solid #0e92a2;*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 2px 0px #000000;
    -moz-box-shadow: inset 0px 0px 2px 0px #000000;
    box-shadow: inset 0px 0px 2px 0px #000000;
}

#add-noodle-form input:focus,
#add-noodle-form input:active {
    outline: 1px solid #ffffff;
    outline-offset: 1px;
}

#add-noodle-form textarea {
    display: block;
    font-size: 17px;
    font-family: 'Ubuntu Mono', monospace;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    /*border: 2px solid #0e92a2;*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 2px 0px #000000;
    -moz-box-shadow: inset 0px 0px 2px 0px #000000;
    box-shadow: inset 0px 0px 2px 0px #000000;
}

#add-noodle-form textarea:focus,
#add-noodle-form textarea:active {
    outline: 1px solid #ffffff;
    outline-offset: 1px;
}

#add-noodle-form #create {
    text-decoration: underline;
    border: none;
    padding: 5px 9px;
    float: right;
    cursor: pointer;
    border-radius: 5px;
    background-color: #0e92a2;
    font-size: 15px;
    color: white;
}

#add-noodle-form #create:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #027383;
    /*-webkit-box-shadow: 0px 0px 0px 3px #0e92a2;
    -moz-box-shadow: 0px 0px 0px 3px #0e92a2;
    box-shadow: 0px 0px 0px 3px #0e92a2;*/
}

#add-noodle-form #create::-moz-focus-inner {
    border: none;
}

#add-noodle-form #create:focus,
#add-noodle-form #create:active {
    outline: 1px solid #ffffff;
    outline-offset: 1px;
}

#trashcan {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 31px);
    background-image: url('../imgs/garbage-trash-undroppable.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 70px;
    width: 62px;
}

#trashcan.highlight {
    background-image: url('../imgs/garbage-trash-droppable-light.png');
    height: 115px;
    width: 103px;
    left: calc(50% - 51px);
}
